<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 
         符号转义说明
    &lt;          < 
    &gt;          >  
    &lt;&gt;     <>
    &amp;        & 
    &apos;       '
    &quot;       "
  <![CDATA[ 这里写你的SQL或者符号 ]]> 
 -->
<!-- 		 -->
<!--  -->
<mapper namespace="com.authorization.dao.field.roleFieldMapper" >
	<!-- Resp Map 数据库映射到实体类  -->
	<resultMap id="roleResultMap" type="com.authorization.entity.RoleEntity" >
		<result column="id" property="id" jdbcType="VARCHAR" javaType="String"/>	<!--  -->
		<result column="role_code" property="roleCode" jdbcType="VARCHAR" javaType="String"/>	<!--  -->
		<result column="role_name" property="roleName" jdbcType="VARCHAR" javaType="String"/>	<!--  -->
		<result column="isdel" property="isdel" jdbcType="INTEGER" javaType="int"/>	<!--  -->
	</resultMap>
  	
  	<!-- tableColumns  所有列 -->
	<sql id="roleColumns" >
		<trim suffix="" suffixOverrides=",">
			sys_role.id	as	id,	<!--  -->
			sys_role.role_code		<!--  -->
			sys_role.role_name		<!--  -->
			sys_role.isdel	as	isdel,	<!--  -->
		</trim>
	</sql>
	
	<!-- insertColumns 入库列 -->
	<sql id="insertRoleColumns">
		<trim suffix="" suffixOverrides=",">
			<if test="id != null " >
				id,	<!--  -->
			</if>
			<if test="roleCode != null " >
				role_code,	<!--  -->
			</if>
			<if test="roleName != null " >
				role_name,	<!--  -->
			</if>
			<if test="isdel != null " >
				isdel,	<!--  -->
			</if>
	    </trim>
	</sql>
	
	<!-- insertParams  入库值 -->
	<sql id="insertRoleParams">
		<trim suffix="" suffixOverrides=",">
			<if test="id != null " >
				#{id, jdbcType=VARCHAR},	<!--  -->
			</if>
			<if test="roleCode != null " >
				#{roleCode, jdbcType=VARCHAR},	<!--  -->
			</if>
			<if test="roleName != null " >
				#{roleName, jdbcType=VARCHAR},	<!--  -->
			</if>
			<if test="isdel != null " >
				#{isdel, jdbcType=INTEGER},	<!--  -->
			</if>
	    </trim>
	</sql>
	
	<!-- insertBatchParams  批量入库列 -->
	<sql id="insertRoleBatchColumns">
		<trim suffix="" suffixOverrides=",">
			id,	<!--  -->
			role_code,	<!--  -->
			role_name,	<!--  -->
			isdel,	<!--  -->
	    </trim>
	</sql>
	
	<!-- insertBatchParams  批量入库值 -->
	<sql id="insertRoleBatchParams">
		<trim suffix="" suffixOverrides=",">
			#{item.id, jdbcType=VARCHAR},	<!--  -->
			#{item.roleCode, jdbcType=VARCHAR},	<!--  -->
			#{item.roleName, jdbcType=VARCHAR},	<!--  -->
			#{item.isdel, jdbcType=INTEGER},	<!--  -->
	    </trim>
	</sql>
	
	<!-- updateParams  更新列 -->
	<sql id="updateRoleParams">
		<trim suffix="" suffixOverrides=",">
			<if test="roleCode != null " >
				role_code = #{roleCode, jdbcType=VARCHAR},	<!--  -->
			</if>
			<if test="roleName != null " >
				role_name = #{roleName, jdbcType=VARCHAR},	<!--  -->
			</if>
			<if test="isdel != null " >
				isdel = #{isdel, jdbcType=INTEGER},	<!--  -->
			</if>
	    </trim>
	</sql>
	
  	<!-- 查询条件  包含所有 -->
	<sql id="andAllRole">
		<trim  suffixOverrides="," >
			<if test="id != null " >
				and sys_role.id = #{id, jdbcType=VARCHAR}	<!--  -->
			</if>
			<if test="roleCode != null " >
				and sys_role.role_code = #{roleCode, jdbcType=VARCHAR}	<!--  -->
			</if>
			<if test="roleName != null " >
				and sys_role.role_name = #{roleName, jdbcType=VARCHAR}	<!--  -->
			</if>
			<if test="isdel != null " >
				and sys_role.isdel = #{isdel, jdbcType=INTEGER}	<!--  -->
			</if>
		</trim>
	</sql>
	
	<!-- 模糊查询判断 -->
	<sql id="andLikeRole">
		<trim  suffixOverrides="," >
			<if test="id != null" >
				and sys_role.id like CONCAT(CONCAT('%',#{id, jdbcType=VARCHAR}),'%' )	<!--  -->
		    </if>
			<if test="roleCode != null" >
				and sys_role.role_code like CONCAT(CONCAT('%',#{roleCode, jdbcType=VARCHAR}),'%' )	<!--  -->
		    </if>
			<if test="roleName != null" >
				and sys_role.role_name like CONCAT(CONCAT('%',#{roleName, jdbcType=VARCHAR}),'%' )	<!--  -->
		    </if>
			<if test="isdel != null" >
				and sys_role.isdel like CONCAT(CONCAT('%',#{isdel, jdbcType=INTEGER}),'%' )	<!--  -->
		    </if>
		</trim>
	</sql>
	
	<!-- 删除条件  包含所有 -->
	<sql id="deleteAllRole">
		<trim  suffixOverrides="," >
			<if test="id != null " >
				and id = #{id, jdbcType=VARCHAR}	<!--  -->
			</if>
			<if test="roleCode != null " >
				and role_code = #{roleCode, jdbcType=VARCHAR}	<!--  -->
			</if>
			<if test="roleName != null " >
				and role_name = #{roleName, jdbcType=VARCHAR}	<!--  -->
			</if>
			<if test="isdel != null " >
				and isdel = #{isdel, jdbcType=INTEGER}	<!--  -->
			</if>
		</trim>
	</sql>
	
	<!-- primary key  没有别名的主键 列名称 ,视图获取不到主键 需要设置（用户删除、更新） -->
	<sql id="noPrefixKeyRole">
		and id = #{id, jdbcType=VARCHAR}	<!--  -->
	</sql>
	
	<!-- primaryKey  主键 列名称 ,视图获取不到主键 需要设置 -->
	<sql id="primaryKeyRole">
		and sys_role.id = #{id, jdbcType=VARCHAR}	<!--  -->
	</sql>
</mapper>