<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 
         符号转义说明
    &lt;          < 
    &gt;          >  
    &lt;&gt;     <>
    &amp;        & 
    &apos;       '
    &quot;       "
  <![CDATA[ 这里写你的SQL或者符号 ]]> 
 -->
<!-- 		 -->
<!--  -->
<mapper namespace="com.template.bussiness.dao.UserMapper" >
  	<!-- 添加,插入记录   -->
	<insert id="insertUser" parameterType="com.template.bussiness.entity.UserEntity" >
	    insert into sys_user (<include refid="com.template.dao.field.userFieldMapper.insertUserColumns"/>) values(<include refid="com.template.dao.field.userFieldMapper.insertUserParams"/>)
	</insert>
	
	<!-- 删除,主键删除   -->
	<delete id="deleteUserByPrimaryKey" parameterType="com.template.bussiness.entity.UserEntity">
	    delete from sys_user where 1=1 <include refid="com.template.dao.field.userFieldMapper.noPrefixKeyUser"/>
	</delete>
	
	<!-- 删除,实体删除   -->
	<delete id="deleteUserByEntity" parameterType="com.template.bussiness.entity.UserEntity">
	    delete from sys_user where 1=1 <include refid="com.template.dao.field.userFieldMapper.deleteAllUser"/>
	</delete>
	
	<!-- 修改,主键更新  -->
	<update id="updateUserByPrimaryKey" parameterType="com.template.bussiness.entity.UserEntity" >
		update sys_user
			<set><include refid="com.template.dao.field.userFieldMapper.updateUserParams"/></set>
			where 1=1 <include refid="com.template.dao.field.userFieldMapper.noPrefixKeyUser"/>
	</update>

	<!-- 查询,实体查询   -->
	<select id="selectUserAndRoles" resultMap="com.template.dao.field.userFieldMapper.userResultMap" parameterType="com.template.bussiness.entity.UserEntity">
		select <include refid="com.template.dao.field.userFieldMapper.userColumns"/>
		,r.role_code as role_code
		,r.role_name as role_name
		from sys_user sys_user
		left join sys_user_role ur on sys_user.id = ur.user_id
		left join sys_role r on ur.role_id = r.id
		where 1=1 and sys_user.isdel=0 <include refid="com.template.dao.field.userFieldMapper.andAllUser"/>
	</select>
	
	<!-- 查询,实体查询   -->
	<select id="selectUserByEntry" resultMap="com.template.dao.field.userFieldMapper.userResultMap" parameterType="com.template.bussiness.entity.UserEntity">
		select <include refid="com.template.dao.field.userFieldMapper.userColumns"/>
		from sys_user sys_user 
		where 1=1 and sys_user.isdel=0 <include refid="com.template.dao.field.userFieldMapper.andAllUser"/>
	</select>
	
	<!-- 查询,ID查询   -->
	<select id="selectUserById" resultMap="com.template.dao.field.userFieldMapper.userResultMap" parameterType="java.lang.String">
		select <include refid="com.template.dao.field.userFieldMapper.userColumns"/>
		from sys_user sys_user 
		where 1=1 and sys_user.isdel=0 <include refid="com.template.dao.field.userFieldMapper.primaryKeyUser"/>
	</select>
	
  	<!-- 批量插入 mysql -->
  	<insert id="insertUserBatch_mysql" parameterType="java.util.List">
  		insert into sys_user (<include refid="com.template.dao.field.userFieldMapper.insertUserBatchColumns"/>)
  		values
  		<foreach collection="list" item="item" index="index" separator=",">
  			(<include refid="com.template.dao.field.userFieldMapper.insertUserBatchParams"/>)
  		</foreach>
  	</insert>
  	<!-- 批量插入 oracle -->
  	<insert id="insertUserBatch_oracle" parameterType="java.util.List" useGeneratedKeys="false">
  		insert all
  		<foreach collection="list" item="item" index="index">
  		into sys_user (<include refid="com.template.dao.field.userFieldMapper.insertUserBatchColumns"/>)
  		values 
  			(<include refid="com.template.dao.field.userFieldMapper.insertUserBatchParams"/>)
  		</foreach>
  		select 1 from dual
  	</insert>
  	<!-- 批量删除 -->
  	<delete id="deleteUserBatch" parameterType="java.util.List">
  		delete from sys_user where
		id in 	<!--  -->
  		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
  			#{item}
  		</foreach>
  	</delete>
  	
  	<!-- 逻辑删除  -->
	<update id="logicUserDelete" parameterType="com.template.bussiness.entity.UserEntity" >
		update sys_user
			set isdelete = 1 	<!-- 逻辑删除 -->
		where 1=1 <include refid="com.template.dao.field.userFieldMapper.noPrefixKeyUser"/>
	</update>
	
  	<!-- 批量逻辑删除 -->
  	<update id="logicUserDeleteBatch" parameterType="java.util.List" >
		update sys_user
			set isdelete = 1 	<!-- 逻辑删除 -->
		where 
			id in 	<!--  -->
	  		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
	  			#{item}
	  		</foreach>
	</update>
</mapper>