server:
  port: 8043
  authUri: http://127.0.0.1:8040

grpc:
  client: # 这个表明当前工程是grpc的client
    systemGrpcServer: # 表示连接grpcServer工程的名字
      host: 127.0.0.1 # 表示连接grpcServer工程的ip
      port: 8060 # 表示连接grpcServer工程的端口
      enableKeepAlive: true
      keepAliveWithoutCalls: true

spring:
  application:
    name: spider
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/spider?serverTimezone=UTC&useUnicode=true&characterEncoding=utf8
    #    url:jdbc:oracle:thin:@192.168.1.128:1521:orcl
    username: root
    password: 1
  security:
    oauth2:     #token检查的授权端url
      client:
        clientId: createCodeClient
        clientSecret: secret
        userAuthorizationUri: ${server.authUri}/oauth/authorize
        grantType: password
        scope: select
        accessTokenUri: ${server.authUri}/oauth/token
      #      authentication-scheme: form     #获得授权端的当前用户信息url
      resource:
        #      id: createCode
        userInfoUri: ${server.authUri}/user/me
        filterOrder: 3
        #        tokenInfoUri: ${server.authUri}/oauth/check_token
        preferTokenInfo: true
      authorization:
        checkTokenAccess: ${server.authUri}/oauth/check_token     #对应的注册码与注册密码
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: root
    password: 1

elasticsearch:
  cluster:
    name: my-application
  address: 127.0.0.1:9200

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.spider.bussiness.entity
  configuration:
#    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

mapper:
#  mappers: com.spider.pub.baseBussiness.mapper.CommonMapper
  mappers: com.common.bussiness.mapper.CommonMapper
  identity: MYSQL
