#spring:
#  datasource:
#    driver-class-name: com.mysql.jdbc.Driver
#    url: jdbc:mysql://192.168.1.128:3306/information_schema?serverTimezone=UTC&useUnicode=true&characterEncoding=utf8
#    url:jdbc:oracle:thin:@192.168.1.128:1521:orcl
#    password: 123456
#    username: root

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.templateTools.entity
  configuration:
#    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

mapper:
#  mappers: com.template.pub.baseBussiness.mapper.CommonMapper
  mappers: com.common.bussiness.mapper.CommonMapper
  identity: MYSQL

server:
  port: 8099

spring:
  security:
    oauth2:     #token检查的授权端url
      client:
        clientId: createCodeClient
        client-secret: secret
        userAuthorizationUri: http://127.0.0.1:8060/oauth/authorize
        grant-type: password
        scope: select
        access-token-uri: http://127.0.0.1:8060/oauth/token
  #      authentication-scheme: form     #获得授权端的当前用户信息url
      resource:
  #      id: createCode
        user-info-uri: http://127.0.01:8060/user/me
        filter-order: 3
        tokenInfoUri: http://127.0.0.1:8060/oauth/check_token
        preferTokenInfo: true
      authorization:
        check-token-access: http://127.0.0.1:8060/oauth/check_token     #对应的注册码与注册密码
